.btn {
    display: inline-block;
    padding: 14px 15px;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    text-align: center;
}

.gusa {
    width: 200px;
    background-color: #ff6c00;
    font: 700 16px Arial;
    text-transform: capitalize;
    color: #fff;
    transition: background-color .3s;
    border-radius: 4px;

    &:hover {
        background-color: #e36000;
    }
}

.ottica {
    background: #000;
    color: #fff;
    width: 200px;
    font-family: 'Poppins';
    font-weight: 500;

    &:hover {
        background: #bd8d67;
    }
}