.contentPlaceholder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 40px);
    background-color: #f0f0f0;
    color: #141414;
    font-size: 24px;
    font-weight: bold;
    overflow: scroll;
}

.content {
    width: 100%;
    height: calc(100vh - 40px);
    background-color: #f0f0f0;
    color: #141414;
    overflow: scroll;
}

.h1 {
    font-size: 36px;
    font-weight: bold;
    color: #2c2c2c;

    @media (--sm-viewport){
        font-size: 24px;
        text-align: center;
    }
}

.header {
    height: 40px;
}

.container {
    padding: 0 40px;
}